.content {
  padding: 0 18px;
  background-color: white;
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  width: 100%
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible_active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}