.submit-form {
    max-width: 300px;
    margin: auto;
}
  
.edit-form {
    margin: 10px;
}

.list {
    position: absolute;
    width: 100%;
    height: 400px;
}

.div1 {
    float:left;
    position: relative;
    width: 100%;
    background:rgb(226, 224, 224);
    clear:left;
    height: 400px;
}
  
.div2 {
    margin-top:0.5rem;
    float:left;
    position: relative;
    width: 100%;
    background:rgb(226, 224, 224);
    clear:left;
}

.my-label {
  float:left;
  padding-top:9px;
}